<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <a href="#" class="navbar-brand">Angular</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a routerLink="/profile">Profile</a></li>
        <li><a routerLink="/matches">Matches</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" role="button">Login</a></li>
        <li><a href="#" role="button">Sign up</a></li>
      </ul>
    </div>
  </div>
</nav>
