.profile{
    .header {
        text-align: center;

    }

    .imageWrapper {
        text-align: center;
        margin: 1rem;

        .profileImage {
            max-width: 300px;
        }
    }

    .profileInfo {
        max-width: 200px;
        margin: 0 auto;
        .title {
            font-weight: bold;
        }

    }

    .carouselProfile {
      .carouselProfileWrapper {
        max-width: 150px;
        margin: 0 auto;
        position: relative;
        h2 {
          writing-mode: vertical-rl;
          transform: rotate(-180deg);
          position: absolute;
          left: -83px;
          top: 78px;
        }
        .carousel {

            .slide {

                .img {
                    max-width: 150px;
                }

            }
        }
      }
    }
}
