<div class="container-fluid profile">
  <div class="row">
    <div class="col-xs-12 header">
      <h3>Account Overview</h3>
    </div>
    <div class="col-sm-8">
      <div *ngIf="!checkForEdit; else showUpdate" class="displayProfile">
        <div class="imageWrapper">
          <img class="profileImage" src="{{ image }}" />
        </div>
        <div class="profileInfoWrapper">
          <div class="profileInfo"><span class="title">First Name:</span> {{ firstName }}</div>
          <div class="profileInfo"><span class="title">Last Name:</span> {{ lastName }}</div>
          <div class="profileInfo"><span class="title">Email:</span> {{ email }}</div>
          <div class="profileInfo"><a href="#" (click)="onClickEdit($event)">Edit</a></div>
        </div>
      </div>
      <ng-template #showUpdate>
        <div class="updateProfile">
          <h4 class="title">Update Info:</h4>
            <form>
                <div class="profileInfo">
                  <span class="title">First Name:</span>
                  <input type="text" placeholder="first name" />
                </div>
                <div class="profileInfo">
                  <span class="title">Last Name:</span>
                  <input type="text" placeholder="last name" />
                </div>
                <div class="profileInfo">
                  <span class="title">Email:</span>
                  <input type="text" placeholder="email" />
                </div>
                <div class="profileInfo">
                  <span class="title">Password:</span>
                  <input type="password" placeholder="password" />
                </div>
                <div class="profileInfo">
                  <span class="title">Image:</span>
                  <input type="file" placeholder="new image" />
                </div>
                <div class="profileInfo">
                  <button (click)="onClickSave($event)">Submit</button>
                </div>
            </form>
          </div>
        </ng-template>
    </div>

    <div class="col-sm-4 carouselProfile">
      <div class="carouselProfileWrapper">
        <h2>Loved Artists</h2>
        <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig">
          <div ngxSlickItem *ngFor="let favArtist of userInfoWithFavArtists" class="slide">
            <img class="img" src="{{ favArtist.artist_img }}"
              alt="" width="100%" />
            <div class="name">{{ favArtist.artist_name }}</div>
          </div>
        </ngx-slick>
      </div>
    </div>


</div>
