

.search-form {
  text-align:center;
  max-width:500px;
  margin: 10rem auto;
  .form{
    display:flex;
    .input {
      font-size: 4rem;
      padding: 0 1rem;
      width: 100%;
      margin: 0 1rem;
      color:#000;
    }
  }
}

.showSpinner {
    text-align:center;
  .loading {
    width:50px;
  }
}

.carousel-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  .carousel {
    .slick-slide {
      outline:none;
      margin: 1rem;
      position:relative;
      .heart{
        display:block;
        font-size:3rem;
        color:#d0d3c5;
        position:absolute;
        right:8px;
        cursor:pointer;
        text-shadow:1px 3px 5px #000;
        &.active{
          color:#d73a31;
          text-shadow:none;
        }
        &:active{
          text-shadow:none;
        }
      }
      .img {
        cursor:pointer;
        height: 250px;
        @media(max-width:885px) {
          height: auto;
        }
      }
      .loading {
        width: 30px;
        margin: 0 auto;
      }
      .name {
        text-align:center;
        margin:1rem 0;
      }
    }
  }
  .no-result {
    text-align:center;
    font-size:4rem;
  }
}
